.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;

  a {
    text-align: center;
  }

  p {
    font-size: 0.8rem;
    text-align: center;
    width: 140px;
    margin: 40px auto 20px;
  }

  ul {
    li {
      cursor: pointer;
      padding: 10px 20px;
      background: #0047852e;
      margin-bottom: 5px;
      border-radius: 4px;

      &:hover {
        background: #0a62af2e;
        color: #fff;
      }

      &.router-link-active {
        background: #58e9bc2e;
      }
    }
  }
}
