<div class="sidebar">

  <a href="https://launchpad.solpad.io/" target="_blank">
    <img loading="lazy" src="assets/img/logoSolpad.svg" alt="SolPad" width="60" />
  </a>

  <p>
    Tokenomics Calculator & Metrics
  </p>

  <ul>
    <li [routerLink]="['/presale']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
      true}">Presale</li>
    <li [routerLink]="['/fair-lauch']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
      true}">Fair Launch</li>
    <li [routerLink]="['/private-sale']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
      true}">Private Sale</li>
  </ul>
</div>