$background: #090619;
$container: #0c091c;
$pink: #108178;
$pink-light: #449d9b;
$title: #34c9ae;
$white: #e0e0e0;
$border: #353535;
$red: #df6565;
$green: #6ac254;

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2f2f2f;
  outline: none;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(12 9 28 / 5%);
  }

  &::-webkit-scrollbar-thumb {
    background: $title;
  }
}

body {
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .col {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      font-size: 0.8rem;
    }

    &.col-1 {
      width: 8.33%;
    }

    &.col-2 {
      width: 16.66%;
    }

    &.col-3 {
      width: 25%;
    }

    &.col-4 {
      width: 33.33%;
    }

    &.col-5 {
      width: 41.66%;
    }

    &.col-6 {
      width: 50%;
    }

    &.col-7 {
      width: 58.33%;
    }

    &.col-8 {
      width: 66.66%;
    }

    &.col-9 {
      width: 75%;
    }

    &.col-10 {
      width: 83.33%;
    }

    &.col-11 {
      width: 91.66%;
    }

    &.col-12 {
      width: 100%;
    }
  }
}

//--------------------------------------------------------------------------
.group-sol {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin: 20px 0;

  &__sol {
    display: flex;
    gap: 10px;
    align-items: center;

    &--value {
      font-size: 1.3rem;
      color: #00dbdd;
    }
  }
}

.title {
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  margin: 30px;
  position: relative;
  justify-content: center;

  &__contrast {
    font-size: 1.3rem;
    font-weight: 600;
    color: #00dbdd;
  }
}

input {
  border: none;
  border: 1px solid #e9e9e9;
  /* background: none; */
  padding: 8px 5px;
  font-size: 0.9rem;
  border-radius: 8px;
  width: 100% !important;
  padding: 10px;

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
    //color: #a1a1a1;
  }

  &::placeholder {
    color: #5c82fd9c;
  }
}

.input {
  width: 180px;

  p {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
}

.content {
  background: rgb(255 255 255 / 95%);
  padding: 20px;
  border-radius: 16px;
  margin: 10px 0;
  min-height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .group-inputs-views {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 50px;

    .group-input {
      display: flex;
      gap: 20px 15px;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }

  .tokens-needed-img {
    position: absolute;
    width: 150px;
    left: -32px;
    bottom: -80px;
  }
}

.grou-doble {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.group-content {
  display: flex;
  gap: 10px;
}

.group-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &.solpad {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  input {
    width: 150px !important;
  }

  &__title {
    font-size: 0.9rem;
  }

  &__value {
    font-size: 1.1rem;
    color: #00dbdd;
  }
}

.check-works {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-right: 10px;

  &__title {
    color: rgba(69, 80, 224, 0.97);
  }

  &__value {
    &.yes {
      color: $green;
    }

    &.no {
      color: $red;
    }
  }
}

.group-add-metrics {
  width: 50%;

  .group-new-tokenomics {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    button {
      cursor: pointer;
      border: none;
      border-radius: 4px;

      &.btn-add {
        width: 50px;
        background: #00dbdd;
      }

      &.disabled {
        background: #b6c3c4;
        cursor: not-allowed;
      }
    }
  }
}

#chartA {
  width: 100%;
}

.list-tokenomics {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;

  &__color {
    width: 20px;
    height: 15px;
  }

  &__name {
    width: 100px;
    font-size: 0.8rem;
  }

  &__value {
    width: 180px;
    text-align: end;
    font-size: 0.8rem;
  }

  &__value-sol {
    width: 200px;
    text-align: end;
    font-size: 0.8rem;
  }
}

.chart-pie {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 20px;
  }

  .input,
  .group-view input {
    width: 100% !important;
  }

  .group-inputs-views {
    flex-direction: column;
    gap: 10px;
  }

  .group-view {
    flex-direction: column;
    gap: 10px;
    align-items: normal;
    padding: 10px 20px;
  }

  .grou-doble {
    flex-direction: column;
    gap: 10px;
  }

  .group-content {
    flex-direction: column;
    gap: 10px;
  }

  .group-add-metrics {
    width: 100%;
  }

  .chart-pie {
    width: 100%;
  }
}
