<div class="group-sol">
  <img src="assets/img/logo-solano.png" alt="" />
  <div class="group-sol__sol">
    $SOL
    <div class="group-sol__sol--value">
      ${{solValueApi | number : "1.2-2"}}
    </div>
  </div>
</div>

<div class="content">
  <div class="group-inputs-views">
    <div class="group-input">
      <div class="input">
        <p>Total Supply <app-popover>Total circulating tokens for your project</app-popover></p>
        <input OnlyNumbers type="text" inputmode="numeric" [(ngModel)]="fairLaunch.TotalSupply"
          placeholder="000 000 000" (change)="onCalcTotalTokensForLiquidity()" currencyMask
          [options]="{ precision: 0, decimal: '', align: 'left' }" />
      </div>
      <div class="input">
        <p> Total Tokens for Fair Launch <app-popover>How many tokens do you want to put up for sale at Fair
            Launch?</app-popover></p>
        <input OnlyNumbers type="text" inputmode="numeric" [(ngModel)]="fairLaunch.TotalTokensForFairLaunch"
          placeholder="000 000 000" (blur)="onCalcFairLaunchRate()" currencyMask
          [options]="{ precision: 0, decimal: '', align: 'left' }" />
      </div>
      <div class="input">
        <p>Soft Cap <app-popover>Minimum value of $SOL filled to develop your project</app-popover></p>
        <input OnlyNumbers type="text" inputmode="numeric" [(ngModel)]="fairLaunch.SoftCap" placeholder="000 000 000"
          (blur)="onCalcFairLaunchRate()" currencyMask [options]="{ precision: 0, decimal: '', align: 'left' }" />
      </div>
      <div class="group-input-checkbox">
        <div class="input">
          <p>Liquidity Percent % <app-popover>Percentage of $SOL's filled that will be added to liquidity</app-popover>
          </p>
          <input type="text" inputmode="numeric" [(ngModel)]="fairLaunch.LiquidityPercentage" placeholder="0.00"
            (blur)="onCalcTotalTokensForLiquidity()" currencyMask />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="group-view">
    <div class="group-view__title">Initial Market Cap <app-popover>Estimate based on Soft Cap</app-popover></div>
    <input OnlyNumbers type="text" inputmode="numeric" [(ngModel)]="fairLaunch.Mcap" (blur)="onCalcChangeMcap()"
      placeholder="0.00" currencyMask [options]="{ precision: 2, decimal: '.', align: 'right', prefix: '$' }"
      [disabled]="!fairLaunch.TotalSupply || !fairLaunch.TotalTokensForFairLaunch || !fairLaunch.SoftCap || !fairLaunch.LiquidityPercentage" />
  </div>
</div>

<div class="group-content">
  <div class="check-works">
    <div class="check-works__title">Check if it works or not</div>
    <div class="check-works__value" [ngClass]="fairLaunch.IsWork > 0 ? 'yes' : 'no'">This doesnt work...</div>
  </div>
  <div class="content">
    <div class="group-view">
      <div class="group-view__title">Percentage you will use of the total supply</div>
      <div class="group-view__value">{{
        fairLaunch.YouWillUseHowManyTotalSupply | number : "1.2-2" }}</div>
    </div>
  </div>
</div>

<div class="content">
  <div class="group-view">
    <div class="group-view__title">Total tokens needed to create a SolPad Pool</div>
    <div class="group-view__value">{{
      formatNumber(fairLaunch.TotalTokensNeeded.toLocaleString("en-US"))
      }}</div>
  </div>
</div>

<div class="group-content">
  <div class="content">
    <div class="group-view">
      <div class="group-view__title">Total Tokens for Presale</div>
      <div class="group-view__value">{{ formatNumber(fairLaunch.TotalTokensForPresale.toLocaleString("en-US")) }}</div>
    </div>
  </div>
  <div class="content">
    <div class="group-view">
      <div class="group-view__title">Total Tokens for Liquidity</div>
      <div class="group-view__value">{{ formatNumber(fairLaunch.TotalTokensForLiquidity.toLocaleString("en-US")) }}
      </div>
    </div>
  </div>
</div>

<div class="group-content">
  <div class="content">
    <div class="group-view">
      <div class="group-view__title">Total $SOL going to the Owner Wallet</div>
      <div class="group-view__value">{{ formatNumber(fairLaunch.TotalSolOwnerWallet.toLocaleString("en-US")) }}</div>
    </div>
  </div>
  <div class="content">
    <div class="group-view">
      <div class="group-view__title">Total $SOL for liquidity</div>
      <div class="group-view__value">{{ formatNumber(fairLaunch.TotalSolForLiquidity.toLocaleString("en-US")) }}</div>
    </div>
  </div>

</div>

<div class="title">
  Tokenomics
  <div class="title__contrast">Metrics</div>
</div>

<div class="group-content">
  <div class="group-add-metrics">
    <div class="content">
      <div class="group-new-tokenomics">
        <div class="input">
          <p>Name</p>
          <input type="text" [(ngModel)]="nameTokenomics" placeholder="Name Tokenomics"
            [disabled]="!fairLaunch.TotalSupply || !fairLaunch.TotalTokensForFairLaunch || !fairLaunch.SoftCap || !fairLaunch.LiquidityPercentage" />
        </div>
        <div class="input">
          <p>Value %</p>
          <input currencyMask type="text" inputmode="numeric" [(ngModel)]="valueTokenomics" placeholder="0.00"
            [disabled]="!fairLaunch.TotalSupply || !fairLaunch.TotalTokensForFairLaunch || !fairLaunch.SoftCap || !fairLaunch.LiquidityPercentage" />
        </div>
        <button type="button" class="btn-add" [ngClass]="{
            disabled:
              !nameTokenomics || !valueTokenomics || valueTokenomics === 0
          }" [disabled]="
            !nameTokenomics || !valueTokenomics || valueTokenomics === 0
          " (click)="onSetNewTokenomicsClick(nameTokenomics, valueTokenomics)">
          <img src="assets/img/more.svg" alt="" srcset="" />
        </button>
      </div>
    </div>
    <div class="list-tokenomics" *ngFor="let item of fairLaunch.ListTokenomics">
      <div class="list-tokenomics__color" [style.backgroundColor]="item.Color"></div>
      <div class="list-tokenomics__name">{{ item.Name }}</div>
      <div class="list-tokenomics__value" *ngIf="!item.IsEditable">
        {{ item.Value | number : "1.2-7" }}%
      </div>
      <div class="list-tokenomics__value" *ngIf="item.IsEditable">
        <div class="input">
          <input currencyMask [options]="{ align: 'right' }" type="text" inputmode="numeric" [(ngModel)]="item.Value"
            (blur)="onSetValueBlur(item, item.Value)" placeholder="0.00" [disabled]="
              !fairLaunch.LiquidityPercentage ||
              fairLaunch.LiquidityPercentage === 0
            " />
        </div>
      </div>
      <div class="list-tokenomics__value-sol">
        {{ formatNumber(item.Sol!.toLocaleString("en-US")) }} $SOL
      </div>
    </div>
  </div>
  <div class="chart-pie">
    <div *ngIf="fairLaunch.ListTokenomics && fairLaunch.ListTokenomics.length > 0" id="chart">
      <apx-chart [tooltip]="chartOptions.tooltip!" [series]="chartOptions.series!" [colors]="chartOptions.colors!"
        [chart]="chartOptions.chart!" [plotOptions]="chartOptions.plotOptions!" [stroke]="chartOptions.stroke!"
        [states]="chartOptions.states!" [labels]="chartOptions.labels!" [legend]="chartOptions.legend!"></apx-chart>
    </div>
  </div>